// Place all the styles related to the Labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-section {
  display: flex;
  font-size: 12px;

  .form-section-label {
    width: 75px;
  }
}

.addresses-container {
  display: flex;
}

.page-section {
  padding: 10px;
}

.shipping-label-holder {
  height: 100vh;
  width: 100%;
  border: none;
}

.label-header {
  display: flex;

  div:last-child {
    margin-left: auto;
  }

}